:root{
    --acksent: rgb(5, 196, 145); 
}
*{
    user-select: none;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*::-webkit-scrollbar{
    background-color: #222124;;
    width: 1vh;
}
*::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
}
*::-webkit-scrollbar-thumb{
    background-color: rgb(4, 152, 113); 
    border-radius: 100px;
}
section{
    position:relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-weight: 800;
}

section:nth-child(odd){
    background-color: #222125;
}
section:nth-child(even){
    background-color: #141316;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background: #111112;
    text-align: right;
}
#n2 {
    background-image: url('../images/1677081749705.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: max-content !important;
}
.NavHide{
    position: absolute;
    top: 0;
    right: calc(50% - 3.5vw);
    height: 6vh;
    width: 9vw;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: .2s all linear;
    background: #111112;
    border-bottom-left-radius: 3mm;
    border-bottom-right-radius: 3mm;
    overflow: hidden;
}
.NavHideClick{
    position: absolute;
    top: 10vh;
    right: 0;
    height: 6vh;
    width: 9vw;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: .2s all linear;
    background: #111112;
    border-bottom-left-radius: 3mm;
    overflow: hidden;
}
.NavHide:hover, .NavHide:focus{
    background: #1e1e20;
}
.buttonHide{
    color: white;
    text-decoration: none;
    font-size: 0.7em;
    height: 100%;
    width: 9vw;
    background: none;
    border: none;
    border-radius: none;
    font-family: Arial, Helvetica, sans-serif;
}
.NavOpen{
    position: absolute;
    top: 0;
    height: 7vh !important;
    width: 100%;
    padding-top: 3vh;
    display: flex;
    align-content: center;
    transition: .2s all linear;
    background: #111112;
    overflow: hidden;
    animation: 0.5s OpenNav forwards;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
@keyframes OpenNav{
    0%{
        height: 0vh
    }
    100%{
        height: 6vh
    }
}
.NavOpen input{
    background: none;
    border: none;
    color: white;
    width: 20vw;
    height: 5vh;
    font-size: 1.7vh;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.NavOpen input:hover{
    background: #1e1e20;
}
#n3 {
    display: block;
    background-color: #000;
    height: max-content !important;
    padding: 3vh 0;
}



.Razedenitel{
    width: 100%;
    height: 37vh;
    background: url('../images/1677164097644.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    filter: brightness(60%);

}
.Razedenitelaa{
    height: 32%;
    filter: brightness(140%);
}
.Logotipius{
    height: 100%;
}
.LogoZone{
    position: absolute;
    
    top: 0.5vh;
    left: 2.5vw;
    width: max-content;
    height: 5vh;
    display: flex;
    align-items: center;
}
.LogoZone label{
    color: white;
    font-size: 3.6vh;
    line-height: 5vh;
    display: flex;
    align-items: center;
    margin-left: 1vh;

}



























@keyframes LanterView{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
.block1p1 {
    width: 100%;
    height: max-content;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
}

.LampaBlock{
    height: 100%;
    width: 50%;
    position: absolute;
    left: 5vw;
    background: url('../images/lanter.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    
}
.movementBlock1 {
    width: 99%;
    height: 25%;
}
.movementBlock2 {
    width: 99%;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    
    margin-top: 7vh;
}
.moveBlock2 {
    font-size: 3vh !important ;
    font-weight: 100 !important;
    font-family: sans-serif;
    width: 90%;
    text-align: left;
}
.moveBlock1 {
    width: 90.5%;
    text-align: left;
    white-space: nowrap;
    line-height: 8vh;
}
.block1p2 {
    width: 99%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input1{
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(4, 152, 113);
    padding: 4vw;
    outline: none;
    border: none;
    width: 50%;
    border-radius: 16mm;
}
.input1:hover { background: rgb(8, 102, 96); } /* при наведении курсора мышки */
.input1:active { background: rgb(0, 152, 147); } /* при нажатии */

.input1NO{
    margin-bottom: 18%;
    
    color: rgb(4, 152, 113); 
    text-decoration: none; 
    user-select: none;
    background: none;
    outline: none; 
    border: none;
    width: 40%;
    text-align: left;
}
.block12 {
    width: 100%;
    height: 100%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.block12 label{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.5em;
    font-weight: 750;
    text-align: center;

    
}
.block11 {
    display: none;
}
.Poyasni {
    width: calc(92% - 4%);
    height: calc(30% - 4%);;
    background-color: rgba(0, 0, 0, 0.476);
    text-align: center;
    transition: .2s all ease-in-out;
    padding: 2%;
    margin: 2vh 0;
}
.PoyasniP {
    font-size: 3vh;
    color: rgb(172, 167, 167);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    

}

.Poyasni:hover {
    width: calc(93% - 4%);
    height: calc(34% - 4%);;
    background-color:  #222125ac;
    margin: 1vh 0;
    
}
.Poyasni:hover .PoyasniP {
    color: rgb(5, 196, 145); 
}


.block3next {
    height: 40%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 75%;
    transition: .15s all ease-in-out;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
}
.bigblock {
    height: max-content !important;
    width: 85% !important;
    background-color: rgb(18, 19, 19);
    border-radius: 4mm;
    transition: .15s all ease-in-out;
    overflow: hidden;
}

.miniblock {
    height: 27vh;
    width: 60%;
    background-color:  rgb(18, 19, 19);
    border-radius: 4mm;
    margin-bottom: 3.5%;
    margin-top: 6.5%;
    transition: .15s all ease-in-out;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.block3next:hover .bigblock{
    width: 90% !important;
    background: url('../images/1677162753635.jpg');
    background-size: cover;
    border-top-left-radius: 0mm;
    border-top-right-radius: 0mm;
}
.block3next:hover .miniblock{
    margin-bottom: 0%;
    border-bottom-left-radius: 0mm;
    border-bottom-right-radius: 0mm;
    width: 90% !important;


}

.block3next:hover{
    opacity: 100%;
}
.bigblock p {
    font-size: 2.7vh;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    height: 100%;
    width: 91%;
    margin: 2vh auto;
    display: flex;
    align-items: center;

}
#n2Start{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
    background-color: #141316;
}
.PerehodnokP {
    height: calc(45% - 4%);
    width: calc(45% - 4%);
    background-color: rgb(29, 29, 30);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 2%;
    transition: .3s all ease-in-out;
    margin: 2.5vh;
}




#Perehod1:hover {
    background-color: orange;
}
#Perehod2:hover {
    background-color: green;
}
#Perehod3:hover {
    background-color: purple;
}
#Perehod4:hover {
    background-color: rgb(0, 119, 255);
}


.miniblockImg{
    width: 100%;
}












.PerehodnokP p {
    font-size: 9vh;
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.PerehodnokP label {
    font-size: 5vh;
    color: rgb(197, 197, 197);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}



#n5{
    height: max-content !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}


.n2_big{
    padding: 4%;
    width: 80%;
    height: 20%;
    color: rgb(205, 205, 205);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14vw;
    text-align: center;
}

.answers{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
}


.card{
    height: max-content;
    width: calc(77% - 1vh);
    margin: 0% 4.5%;
    padding: 1vh;
    transition: .2s all ease-in;
}

.card div{
    
    font-size: 4.5vh;
    color: rgb(197, 197, 197);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    line-height: 7vh;
    white-space: pre-line;
}

.card p{
    
    font-size: 7vh;
    color: rgb(205, 205, 205);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 0;
}



.card:hover{
    background-color: #111013;
    padding: 4vh;
    cursor: all-scroll;
}

.card:hover div{
}


















































































#n4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    background: url("../images/1677161739777.jpg");
    background-size: cover;
    height: max-content;
}


.n4Text{
    min-height: 60%;
    width: 87%;
    padding: 4%;
    overflow: hidden;
    margin: 1vh;
    

}
.n4Text div{
    font-size: 4vh;
    color: rgb(211, 210, 210);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    word-wrap: normal;
    margin: 0;
    height: max-content;
    

}
.n4Image{
    width: max-content;
    height: min-content;
    overflow: visible;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    margin: 5vh 0vh;
}


iframe{
    width: calc(100% - 2px) !important;
    min-width: none !important;
    margin: 0 !important;
    justify-content: center;
}










.n4ImageAp{
    width: 100%;
}
#dnishe{
    height: 5vh;
    background-color: rgb(0, 0, 0) !important;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#dnishe a{
    font-size: 3vh;
    color: rgb(211, 210, 210);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    opacity: 70%;
    text-decoration: none;
}